@page "/ok"

@using CustomAutoComplet.Data
@using CustomAutoComplet.Repository.Contracts
@using Microsoft.AspNetCore.SignalR
@using Microsoft.AspNetCore.SignalR.Client
@foreach (var emp in UserList)
{
    <p>@emp.FirstName | @emp.LastName |@emp.Phone | @emp.Email</p>
}

@inject IUserRepo _repo
@inject NavigationManager Navigation
@code {

    List<User> UserList = new List<User>();
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {

        UserList = await _repo.GetUsersAsync();

        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/userHub"))
            .Build();

        hubConnection.On<List<User>>("RefreshUsers", e =>
            {
                UserList = e;
                InvokeAsync(StateHasChanged);
            });

        await hubConnection.StartAsync();
    }
}